@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>Vender!</h1>
    <p class="lead">Adicione os produtos que o cliente pedir a uma lista e realize a venda.</p>
    <p><a href="~/Venda/InstanciaConsulta" class="btn btn-success btn-lg">Clique aqui &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Comprar</h2>
        <p class="col-md-6">Adicione os produtos que você pediu a uma lista e realize a compra.</p>
        <p><a class="btn btn-success" href="~/Compra/InstanciaConsulta">Clique aqui &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Estoque</h2>
        <p class="col-md-6">Confira os produtos que estão no estoque e baixe um relatório.</p>
        <p><a class="btn btn-success" href="~/Estoq/InstanciaConsulta">Clique aqui &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Freezers</h2>
        <p class="col-md-6">Veja todos os freezers que estão cadastrados, edite informações dos freezers, cadastre novos freezers.</p>
        <p><a class="btn btn-success" href="~/Freezer/ConsultaFreezer">Clique aqui &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Produtos</h2>
        <p class="col-md-6">Veja todos os tipos de produto que estão cadastrados, edite informações dos produtos, cadastre novos produtos.</p>
        <p><a class="btn btn-success" href="~/Home/ConsultaProduto">Clique aqui &raquo;</a></p>
    </div>
</div>
